#create-form{
  display: flex;
  flex-direction: column;
}
.form-wrapper{
  max-width: 30rem;
  margin: 0 auto;
  box-shadow: darkblue 0px 0px 10px 1px;
  border-width: 0.2rem;
  padding: 2rem;
  border-radius: 2rem;
  border-style: solid;
  margin-top: 2rem;
}

.unit{
  display: inline-block;
}

.car-options{
  label{
    font-size: 1.6rem;
    font-weight: normal;
    width: 8em;
    text-align: right;
    margin-right: 2rem;
  }
  span{
    width: 5em;
    margin-left: 1em;
  }
  div{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  input[type="number"]{
    width: 5rem;
  }
}

header{
  background-color: #e7eaed;
}

.title{
  font-size: 3rem;
  text-align: center;
  margin: 0.5rem auto 0px;
}

label{
  font-size: 2rem;
  font-weight: bold;
}
.btn-wrapper{
  text-align: center;
}

